#search {
  background-color: #121212;
  .bg-boxes {
    background-color: #1f1f1f;
  }
  .text {
    margin-bottom: -1rem;
  }
  .loadingIcon {
    width: 14rem;
  }
  .input {
    height: 4rem;
    font-size: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .recent {
    overflow: scroll;
  }
}
